:root {
	--color-green-light: hsla(128, 61%, 53%, 1);
	--color-green-dark: hsla(128, 89%, 27%, 1);
	--color-blue-light: hsla(194, 61%, 53%, 1);
	--color-blue-dark: hsla(194, 89%, 27%, 1);
	--color-red-medium: hsla(13, 100%, 26%, 1);
	--color-neutral-darkest: hsla(31, 58%, 9%, 1);
	--color-neutral-darker: hsla(31, 60%, 15%, 1);
	--color-neutral-dark: hsla(31, 60%, 25%, 1);
	--color-neutral-medium: hsla(31, 50%, 50%, 1);
	--color-neutral-light: hsla(31, 100%, 82%, 1);
	--color-neutral-lighter: hsla(31, 100%, 90%, 1);
	--color-neutral-lightest: hsla(31, 100%, 97%, 1);

	--color-shadows: hsla(31, 58%, 9%, .2);
}


/* Color Theme Swatches in Hex */
.ELW-neutral-lightest-hex { color: #FFF9F2; }
.ELW-neutral-lighter-hex { color: #FFE6CC; }
.ELW-neutral-light-hex { color: #FFD4A6; }
.ELW-neutral-darker-hex { color: #402910; }
.ELW-neutral-darkest-hex { color: #26180A; }

/* Color Theme Swatches in RGBA */
.ELW-neutral-lightest-rgba { color: rgba(255, 249, 242, 1); }
.ELW-neutral-lighter-rgba { color: rgba(255, 230, 204, 1); }
.ELW-neutral-light-rgba { color: rgba(255, 212, 166, 1); }
.ELW-neutral-darker-rgba { color: rgba(64, 41, 16, 1); }
.ELW-neutral-darkest-rgba { color: rgba(38, 24, 10, 1); }

/* Color Theme Swatches in HSLA */
.ELW-neutral-lightest-hsla { color: hsla(31, 100%, 97%, 1); }
.ELW-neutral-lighter-hsla { color: hsla(31, 100%, 90%, 1); }
.ELW-neutral-light-hsla { color: hsla(31, 100%, 82%, 1); }
.ELW-neutral-medium-hsla { color: hsla(31, 50%, 50%, 1); }
.ELW-neutral-dark-hsla { color: hsla(31, 60%, 25%, 1); }
.ELW-neutral-darker-hsla { color: hsla(31, 60%, 15%, 1); }
.ELW-neutral-darkest-hsla { color: hsla(31, 58%, 9%, 1); }




/* Color Theme Swatches in Hex */
.ELW-colors-green-dark-hex { color: #078518; }
.ELW-colors-green-light-hex { color: #3FD153; }
.ELW-colors-blue-light-hex { color: #3FADD1; }
.ELW-colors-blue-dark-hex { color: #076585; }
.ELW-colors-red-medium-hex { color: #851D00; }

/* Color Theme Swatches in RGBA */
.ELW-colors-green-dark-rgba { color: rgba(7, 133, 24, 1); }
.ELW-colors-green-light-rgba { color: rgba(63, 209, 83, 1); }
.ELW-colors-blue-light-rgba { color: rgba(63, 173, 209, 1); }
.ELW-colors-blue-dark-rgba { color: rgba(7, 101, 133, 1); }
.ELW-colors-red-medium-rgba { color: rgba(133, 29, 0, 1); }

/* Color Theme Swatches in HSLA */
.ELW-colors-green-dark-hsla { color: hsla(128, 89%, 27%, 1); }
.ELW-colors-green-light-hsla { color: hsla(128, 61%, 53%, 1); }
.ELW-colors-blue-light-hsla { color: hsla(194, 61%, 53%, 1); }
.ELW-colors-blue-dark-hsla { color: hsla(194, 89%, 27%, 1); }
.ELW-colors-red-medium-hsla { color: hsla(13, 100%, 26%, 1); }


html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	background-color: var(--color-neutral-lightest);
	color: var(--color-neutral-darkest);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: var(--color-red-medium);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: var(--color-red-medium);
}

a:visited {
	color: var(--color-red-medium);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
